.progress_bar {
    display: flex;
    flex-direction: column;
}
  
.progress_bar_label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 50px;
}

.form_fields {
    margin: 0px 50px;
}

#full {
    width: 98%;
    height: 50%;
}