.progress_bar {
    display: flex;
    flex-direction: column;
}
  
.progress_bar_label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 50px;
}

.form_fields {
    margin: 0px 50px 90px 50px;
}


/*box sizes*/
#full {
    width: 98%;
}
#half {
    width: 500px;
}


/*multi-element rows*/
.two_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
}
.three_row {
    display: flex;
    flex-direction: row;
    width: 98%;
}

/*buttons*/
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 10px 50px;
}
.button_1 {
    background-color: #182e4e;
    color: white;
    height: 50px;
    font-size: 16px;
}

.button_2 {
    background-color: white;
    color: #182e4e;
    border-color: #182e4e;
    border: 2px solid;
    height: 50px;
    font-size: 16px;
}
