body {
  margin-left:auto;
  margin-right:auto;
  height:auto; 
  width:auto;
  background-color: #F0F6FA;
}

.tabs {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 50%;
  align-self: center;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  text-align: center;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  background-color: #F0F6FA;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.tab-content {
  background-color: white;
  border-bottom: solid #ccc;
  border-left: solid #ccc;
  border-right: solid #ccc;
}